<h2>Contact</h2>
<div class="contact-wrapper">
    <ul class="fa-ul main-list">
    <li class="main-list-item">
        <ul class="contact-phone">
        <li class="marker">785.551.0449</li>
        </ul>
        <ul class="contact-email">
        <li class="marker"><a href="mailto:lesliebeesleylmsw@gmail.com">lesliebeesleylmsw@gmail.com</a></li>
        </ul>
        <ul class="contact-fb">
            <li class="marker"><a href="https://www.facebook.com/lesliebeesleylmsw">facebook.com/lesliebeesleylmsw</a></li>
        </ul>
    </li>
    </ul>

    <ul class="fa-ul main-list">
    <li class="main-list-item">
        <ul class="contact-address">
        <li class="marker">1012 Massachusetts St</li>
        <li>Suite 215</li>
        <li>Lawrence, Kansas 66044</li>
        </ul>
    </li>
    </ul>
</div>
<div class="copyright">
    <span class="copyright-text">Copyright</span>
    <span class="copyright-mark">&copy;</span>
    <span class="copyright-year">2017</span>
    <span class="all-rights-reserved">All Rights Reserved</span>
</div>
