<h2>Contact</h2>
<div class="contact-wrapper">
    <ul class="fa-ul main-list">
    <li class="main-list-item">
        <ul class="contact-phone">
        <li class="marker">785.551.0449</li>
        </ul>
        <ul class="contact-email">
        <li class="marker"><a href="mailto:lesliebeesleylmsw@gmail.com">lesliebeesleylmsw@gmail.com</a></li>
        </ul>
    </li>
    </ul>

    <ul class="fa-ul main-list">
    <li class="main-list-item">
        <ul class="contact-address">
        <li class="marker"><strong>Lawrence Office</strong></li>
        <li>719 Massachusetts St</li>
        <li>Suite 124</li>
        <li>Lawrence, Kansas 66044</li>
        </ul>
    </li>
    <li class="main-list-item">
        <ul class="contact-address">
        <li class="marker"><strong>Kansas City/Olathe Office</strong></li>
        <li><a href="https://www.kcmentalhealthassociates.com/">KC Mental Health Associates</a></li>
        <li>513 N. Mur-Len Rd</li>
        <li>Olathe, Kansas 66062</li>
        </ul>
    </li>
    </ul>
</div>
<div class="copyright">
    <span class="copyright-text">Copyright</span>
    <span class="copyright-mark">&copy;</span>
    <span class="copyright-year">2018</span>
    <span class="all-rights-reserved">All Rights Reserved</span>
</div>
